<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Breviare</title>
  <meta name="description" content="Breviare: A minimalist URL Shortener made in Javascript">
  <meta name="author" content="SitePoint">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/estilos.css"/>
  <link rel="stylesheet" href="/css/animate.css"/>
</head>    
<body>
    
    <div class="container" id="principal">
        <div class="row justify-content-md-center" style="padding-bottom: 5%;">
            <div class="col-md-6">
                <img src="/img/logo2.jpg" alt="logo" class="img-fluid mx-auto d-block animated fadeInDown"/>
            </div>
        </div>
        <div class="row justify-content-md-center animated fadeInUp">
            <div class="col-md-6">
                <form id="urlForm">
                    <div class="form-group">
                        <input type="text" class="form-control" name="url" id="url">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-warning btn-block" style="color: white;" value="SHORTEN URL"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-md-center animated fadeInUp">
            <div class="col-md-6">
                <h6 class="text-left" style="color: #E3AA13;">Latests URLs</h6>                
            </div>            
        </div>
        <div id="urls" class="animated fadeIn">
          {{#each urls}}
            <div class="row justify-content-md-center">
              <div class="col-md-6">
                <p class="text-left animated fadeIn">
                  <a href="/{{_id}}" target="_blank" style="color: #E3AA13;">Brevia.re/{{_id}}</a>
                </p>
              </div>
            </div>
                {{/each}}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/js/ajax.js"></script>
</body>
</html>