body{
    background-color: rgba(255,255,255,1);
}

h1 {
    color: white;
}

#principal{
    padding-top: 5%;
}

div {
	transition: all 0.5s;
}

a {
	color: white;
}

a:hover{
	color: white;
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: none;
}